body{
    background-color: rgb(218, 236, 238);
    background-image: linear-gradient(176deg, rgb(224, 185, 247) 0%, #71C4FFFF 100%);
    font-family: sans-serif;
}

/* main container */
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    height: 100vh;
}

/* diplay div */
#display-div{
    width: 772px;
    height: 70px;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(190, 190, 255);
    background-color: rgb(232, 239, 245);
    border-radius: 3px; 
}

/* h2  */
h2{
    color: rgb(115, 115, 117);
}

/* Text Area */
#text-area{
    border: none;
    padding: 20px;
    font-size: large;
    color: rgb(120, 120, 124);
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: rgb(232, 239, 245);
    box-shadow: 0px 0px 5px rgb(190, 190, 255);
    border-radius: 3px;
}

#text-area:focus{
    outline: none;
}